body{
    font-family:Avenir Next;
}
.header{
    background-color: #f7f2b4;
    height: 90px;
}
.header-logo{
    font-size:36px;
    padding:20px 40px ;
}
.header-list li{
    list-style: 33px 20px;
    
}




.main{
    padding: 100px 80px;
}
.copy-container h2{
 font-size:60px;
}
.copy-container h1{
    font-size:140px;
}
.copy-container span{
    color: #ff4a4a;
}
.contents{
    height: 500px;
    margin: 100px;
}
.contents-item{
  float: left;
}
.contents-item p{
    font-size: 24px;
    margin-top: 30px;
}
.section-title{
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}
.contacts-form{
    padding-top: 100px;
}
.contacts-form input,textarea{
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size:18px;
  border: 1px solid #dee7ec;
}
.contacts-submit{
    background-color: #dee7ec;
    color: #889eab;
}


li{
    list-style: none;
    float: left;
    padding: 33px 20px ;
}

.footer{
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 40px;
}
.footer-logo{
    font-size: 36px;
    padding: 20px 40px;
}
.footer-list li{
    padding-bottom:20px ;
}